@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {
    width: 90px;
    margin: 1em;
}

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;
    margin: 2rem;
}

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {
    font-size: 0.9rem;;
    color: #D7DEE6;

}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem; 
}

div.container.post{
    margin: 0px 1em;
}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}

section.big-hero .social-links{
    padding: 1rem 0rem 0rem 0rem;
    margin-top: -3rem;
    margin-bottom: 3rem;
}

/*El padding del boton hamburguesa*/
i.fa-bars{
    padding: 0.2rem;
}

/*el margen de la imagen*/
header.header img{
    margin: 1rem;
}

/*Hace que los botones de contacto, acerca de, etc*/
ul#menu li a:hover{
    color: red;
}

/*logos de github y twitter*/
.social-links .fab{
    font-size: 5rem; 
    margin: 10px;
}


.social-links .fas{
    font-size: 5rem;
    margin: 10px;
}

.big-hero .social-links{
    margin-top: -3rem;
}

/*logo de la flecha hacia abajo*/
.fa-arrow-circle-down{
    color: #0AC693;
    margin-bottom: 2rem;
}

.green-area {
    background-color: #0AC693; 
}   

.post {
    padding: 1em;
    margin-bottom: -2px;
}

/*Muestra el texto en mayuscula*/
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    list-style: none;
}

.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 2em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.bio-info img{
   width: 200px;
}


.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 3em;
}

.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}


.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}


/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links {
    height: 2rem;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

.contact label{
    font-weight: bold;
}

div.contact{
    margin-bottom: 2rem;
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }

    ul.menu{
        margin-top: 0rem;
    }
    
    /*logos*/
    .fa-arrow-circle-down{
        font-size: 3rem;
        margin-top: -3rem;
    }

    .fa-twitter{
        margin-left: 0.3rem;
    }

    .contact label{
        font-weight: bold;
    }

    /*Gird para poder separar la parte del about us*/
    section.about div.container{
        display: grid;
        grid-auto-columns: repeat(2, minmax(1fr, 2fr));
        grid-auto-flow: dense;
        margin-top: -2rem;
        padding: 0 1.5rem 3rem;
        margin-bottom: -3rem;
        
    }

    div.container h2{
        grid-area: span 1/ span 2;
    }

    div.container .contact{
        grid-area: contact;
    }

    /*Arreglo de margenes*/
    div.container.post ul{
        margin: 0 -1rem;
    }

    .big-hero div.container{
        margin-bottom: 3rem;
    }

    .about div.container{
        margin-bottom: 0rem;
    }

    footer .social-links .fab{
        margin: 0 1rem;
    }

} 

@media only screen and (min-width: 1024px) {

    /*Arreglo de la posicion de la imagen*/
    .big-hero div.container img{
        margin-top: 4rem;
        margin-bottom: -1rem;
    }

    .big-hero{
        margin-bottom: 2rem;
    }

    /*Arreglo de GRID para pc 1024*/
    section.about {
        grid-auto-columns: 1fr 5rem 1fr;
        grid-auto-flow: dense;
        margin: 2rem 3rem -3rem;
        padding: 1rem 1rem 1rem;
    }

}

@media only screen and (min-width: 1440px) {

    /*seleccionamos el hijo directo para que sea el primer container*/
    /*arrglo de estetica*/
    body>.container {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;
    }

    /*arreglo de la pantalla de about us*/
    section.about div.container{
        padding: 0 10rem 3rem 5rem;    
    }



}